container {
    flex-direction: column;
    overflow-y: scroll;
    background-color: #ebd78fb2;
    border: .5em solid var(--color-secondary);
}

.card-body {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    background-color: var(--color-primary);
    color: var(--color-tertiary );
    border: .5em solid var(--color-secondary);
    padding: .5em;
    margin: .5em;
    border-radius: 1em;
}

.card-body p {
    overflow-wrap: break-word;
}