:root {
    --color-primary: #f5f2e7e7;
    --color-secondary: #839cb6;
    --color-tertiary: #141633;
}

nav {
    display: flex;
    align-items: center;
    flex-direction: row;
    height: 10vh;
    background-color: var(--color-secondary);
    color: var(--color-primary);

}

container {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: space-evenly;
    overflow-y: scroll;
    height: 63vh;
    background-color: #ebd78fb2;
    border: .5em solid var(--color-secondary);
    padding: 1em;
}

.card-body {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    background-color: var(--color-primary);
    color: var(--color-tertiary );
    border: .5em solid var(--color-secondary);
    padding: .5em;
    margin: .5em;
    border-radius: 1em;
}

footer {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 10vh;
    background-color: var(--color-secondary);
    color: var(--color-primary);
}