:root {
    --color-primary: #f5f2e7e7;
    --color-secondary: #aac1da;
    --color-tertiary: #141633;
}

body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: var(--color-primary);
    color: var(--color-tertiary);
}

nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 10vh;
    background-color: var(--color-secondary);
    color: var(--color-primary);
}

nav h1 {
    margin-left: 2em;
    color: var(--color-tertiary);
}

#navButtons {
    margin-left: auto;
    margin-right: 2em;
}

container {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: space-evenly;
    height: 77vh;
}

section {
    border: .5em solid var(--color-secondary);
    padding: 2em;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; 
    background-color: var(--color-primary);
}

#titleBlog {
    font-size: 4vmax;
    z-index: 1;
    position: absolute;
    font-family:Georgia, 'Times New Roman', Times, serif;
    color: var(--color-tertiary);
}

svg {
    width: 100%;
    height: 100%;
    z-index: 0;
}

footer {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 10vh;
    background-color: var(--color-secondary);
    color: var(--color-primary);
}

body[data-mode="dark"] {
    filter: invert(1) hue-rotate(180deg);
}

body {
    transition: filter .3s;
}